.DS_Store
spotifycli
.vscode
node_modules/cors/
node_modules/cross-fetch/
node_modules/node-fetch/
node_modules/object-assign/
node_modules/tr46/
node_modules/webidl-conversions/
node_modules/whatwg-url/
node_modules/